<!-- iframe.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>同站的 iframe 应用</title>
  </head>
  <body>
    <h1>同站的 iframe 应用</h1>
  </body>
  <script>
    window.addEventListener('message', (e) => {
      console.log('Child received:', e.data);
      // 回复消息
      setTimeout(() => {
        e.source.postMessage('to parent', e.origin);
      }, 1000);
    });
    console.log(window.parent)
  </script>
</html>
